body{background-color:#4d1c1c;background-image:url(2cd2da618ab588492e9b.png);background-repeat:no-repeat;background-position:center;height:100vh}
.botao{background-color:#19b3e6;color:#fff;font-size:1.8em}
