@import 'variaveis.scss';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color1;
    padding: 0px 70px 0px 70px;

    #contact {
        display: flex;
        align-items: center;
        flex-direction: row;

        .container {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            width: 200px;
            height: 80px;

            span:nth-of-type(1) {
                font-weight: bolder;
            }
        }
    }

    #socialmedia {
        ul {
            width: 100px;
            list-style: none;
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            i {
                font-size: 30px;
            }
        }
    }
}


