@import 'variaveis';

#section-reserva {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    background-image: linear-gradient(270deg, $color2, $color3);
    border-top: solid 7px $color5;

        div {
            color: white;
            font-size: 35px;
        }

        form {          
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

                input, select {
                    margin: 0px 15px;
                    height: 40px;
                    width: 200px;
                }

                input[type=submit] {
                    color: white;
                    font-size: 19px;
                    background-color: $color5;

                    border: none;
                    border-radius: 5px;

                    cursor: pointer;

                    &:hover {
                        background-color: $color4;
                    }
                }
        }
}

