@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$logoColor: #cde8dc;
$color0: #D3F2E2;
$color1: #A5F0C0;
$color2: #5dd07e;
$color3: #449b4c;
$color4: #9e8465;
$color5: #7e5b30;

$font1: 'Roboto';
$paddingPadrao: '15px', 'sans-serif';


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $font1;
    text-decoration: none;
}

main, footer {
    border: solid 2px black;
}