@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$color1: #A5F0C0;
$color2: #D3F2E2;
$color3: #93F0AE;
$color4: #60C068;
$color5: #734F24;

$font1: 'Roboto';


$paddingPadrao: '15px', 'sans-serif';