@import 'variaveis.scss';

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    box-sizing: border-box;
    height: 100vh;
    padding: 0;
    margin: 0;

    font-family: sans-serif;
    background-color: rgb(21, 21, 21);
}

section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
    background-color: black;
    border: 5px solid $cian;
    border-radius: 20px;
    box-shadow: 2px 2px 15px black;
    
    height: 850px;
    width: 70%;
}

section h1 {
    color: $darkBlue;
    font-size: 40px;
}

section aside {
    display: flex;
    flex-direction: row;
}

section aside > span:nth-of-type(1) {
    font-size: 28px;
    color: green;
}

section aside #drawAreaPoints {
    width: 200px;
    display: flex;
    justify-content: flex-start;

}

section article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    height: 500px;
    width: 100%;
}

section article #doll {
    height: 810px;
    width: 40%;
}

#content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    height: 670px;
    width: 60%;
}

#choosedLetter {
    color: $cian;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid $lightGray;

    height: 100px;
    width: 600px;
}

#secretWord {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    background-color: $cian;
    border-radius: 7px;
    height: 300px;
    width: 600px;
}

#secretWord .spanLetras {

    font-size: 45px;
    margin: 20px;
}


#finalResult {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    color: $darkBlue;
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
    width: 100%;
}

#finalResult #btnPlayAgain {
    display: none;
    background-color: $cian;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 100px;

    &:hover {
        background-color: #f05375;
    }
}

#avaibleWords {
    color: $cian;
    font-size: 20px;
    justify-content: space-between;
    overflow-y: hidden;
    margin-left: 10px;
    border-radius: 20px 0px 0px 20px;

    background-color: black;
    width: 200px;
}

#avaibleWords #words {
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#avaibleWords #insertWords {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    position: absolute;
    bottom: 170px;

    background-color: $cian;
    color: white;
    height: 100px;
    width: 300px;

    border-radius: 7px;
}

#avaibleWords #btnAdd {
    
    background-color: $cian;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 50px;
    margin-bottom: 50px;

    &:hover {
        background-color: #f05375;
    }
}